apps/backend/node_modules
apps/backend/dist
apps/backend/.env
apps/backend/.DS_Store
apps/backend/generated/prisma
apps/backend/prisma/dev.db
apps/backend/prisma/test.db
apps/backend/tmp/**
!apps/backend/tmp/uploads/.gitkeep

apps/frontend/node_modules
apps/frontend/dist
apps/frontend/.env

.env

node_modules